<div ng-app="" style="text-align: center;">

  <img src="../assets/logo.png" 
       alt="Logo"
       width="200"
       height="100"
       class="logo"
  >
  
  <h1 class="app-title"> List of tasks</h1>
</div>
<div class="container">
  Add a todo ....
  <br>
  <input type="text" class="input-text" placeholder="Write here...." />
  <button class="add-btn">Add todo</button>
  <div class="list">
    <ul>
      <li>
        <input type="checkbox" name="isDone">
        Task 1
        <button class="btn">Delete</button>
      </li>
    </ul>
  </div>
</div>